# Ignore InteliJ + VSCode configs
.vscode/*
.idea/*

# Ignore class files
*.class

# Ignore ds_store
.DS_Store

# Ignore IntelliJ "out" directory
out/*

# Ignore .img file
*.iml

# Ignore META-INF intellij directory
META-INF/*